/* Partfolio
===================*/

.parfolio{
    background: #2d303a;
    padding: 61px 0 65px 0;
    border-bottom: 6px solid #323746;
  }
  
  .parfolio__title {
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1.7;
  }
  
  .parfolio__description{
    letter-spacing: 0.09px;
    font-size: 18px;
    color: #767e9e;
    line-height: 1.7;
    word-spacing: -1.9px;
    text-align: justify;
    font-weight: 300;
    margin: 0;
    margin-top: 16px;
  }
  
  .parfolio__filter{
    margin-top: 10px;
  }
  
  .parfolio__button{
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 3px 5px;
    color: #767e9e;
    text-align: justify;
    word-spacing: 0.15px;
    margin-right: 8px;
    margin-left: 1px;
    font-size: 12px;
    font-weight: 400;
    transition: all .2s linear;
  }
  
  .parfolio__button:hover{
    border: 1px solid #dedede;
    color: #dedede;
  }
  
  .parfolio__galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18px;
    max-height: 603px;
    overflow: hidden;
  
  }
  .partfolio__work{
    height: 100%;
    width: calc(25% - 15px);
    margin-bottom: 16px;
  }
  
  
  
  /* About Us
  ===================*/
  .about{
    background-color: #f2f2f2;
    padding: 62px 0 67px 0;
    border-bottom: 6px solid #ffffff;
  }
  
  .about__title{
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
  
  }
  
  .about__description{
    font-size: 18px;
    color: #767e9e;
    letter-spacing: -0.06px;
    font-weight: 300;
    margin: 0;
    margin-top: 21px;
  }
  
  .about__description--two {
    letter-spacing: 0.06px;
    font-size: 18px;
    color: #767e9e;
    line-height: 1.7;
    word-spacing: -1.9px;
    text-align: justify;
    font-weight: 300;
    margin: 0;
    margin-top: 4px;
  }
  
  .about__team{
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
  }
  
  .about__person{
    height: 100%;
    width: calc(33.33333% - 13px);
  }
  .about__person-name{
    color: #666d89;
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    margin-top: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .about__person-description{
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
    line-height: 1.8;
    letter-spacing: 0.19px;
    word-spacing: -0.8px;
  }
  
  
  .social{
    display: flex;
    margin-top: 22px;
  }
  
  .social__link{
    height: 32px;
    width: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform .2s linear; 
  }
  
  .social__link:hover{
    transform: translateY(-5px);
  }
  
  .social__link--facebook{
    background: url(./assets/about/social_icons/facebook.png) no-repeat center;
  }
  
  .social__link--google{
    background: url(./assets/about/social_icons/google+.png) no-repeat center;
  }
  
  .social__link--twitter{
    background: url(./assets/about/social_icons/twitter.png) no-repeat center;
  }
  
  .social__link--linkedin{
    background: url(./assets/about/social_icons/linkedin.png) no-repeat center;
  }
  
  